NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=estimates@skyrunbrianhead.com
SENDGRID_FROM_NAME=SkyRun Brian Head
LEAD_NOTIFICATION_TO=brianhead@skyrun.com
ALLOWED_FRAME_ANCESTORS='self'
